<h1 class="centered">Latest 100 tweets containing the tag #{{tag}}</h1>
{{#each tweets}}
    <div class="single-post">
        <h4>Posted by: <a href="/profile/{{authorUsername}}">{{authorUsername}}</a> on {{creationDate}}</h4>
        <p class="align-left" >{{{content}}}</p>
    </div>
{{else}}
    <h2 class="centered">No tweets available!</h2>
{{/each}}